@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.28);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

.quill-dark .ql-editor {
  background-color: #1e1e2f;
  color: #e5e5e5;
}

.quill-dark .ql-toolbar {
  background-color: #2a2a3b;
  border-color: #444;
}

.quill-dark .ql-container {
  border-color: #444;
}

.quill-dark .ql-stroke {
  stroke: #e5e5e5 !important;
}

.quill-dark .ql-fill {
  fill: #e5e5e5 !important;
}

.quill-dark .ql-picker {
  color: #e5e5e5 !important;
}

.quill-dark .ql-picker-options {
  background-color: #2a2a3b !important;
  border-color: #444 !important;
}